.product_count_item {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.product_count input.input-number {
    text-align: center;
}
