


<div class="admin-sidebar">
    <div class="sidebar-header">
        <a><img src="~/img/logo123.png" alt="logo" style="width: 250px; height: auto;" /></a>
    </div>
    <ul class="sidebar-menu">
        <li><a href="/Admin/Dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="/Admin/Accounts"><i class="fas fa-users"></i> Users</a></li>
        <li><a href="/Admin/Products"><i class="fas fa-box"></i> Products</a></li>
        <li><a href="/Admin/Categories"><i class="fas fa-tags"></i> Categories</a></li>
        <li><a href="/Admin/Brands"><i class="fas fa-industry"></i> Brands</a></li>
        <li><a href="/Admin/Orders"><i class="fas fa-shopping-cart"></i> Orders</a></li>
        <li><a href="/Admin/Banners"><i class="fas fa-image"></i> Banners</a></li>
        <li><a href="/Admin/BLogs"><i class="fas fa-blog"></i> Blogs</a></li>
        <li><a href="/Admin/BLogCategories"><i class="fas fa-blog"></i> Blog Category</a></li>
        <li><a href="/Authentication/Logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
</div>
