@{
    ViewData["Title"] = "Đặt hàng thành công";
}
<div class="container text-center py-5">
    <h1 class="text-success">🎉 Đặt hàng thành công!</h1>
    <p>Cảm ơn bạn đã xác nhận đơn hàng - Hãy nhớ kiểm tra Email để xem cập nhật mới nhất của đơn hàng.</p>
    <p>Chúc bạn một ngày tốt lành !</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Quay về trang chủ</a>
</div>
