@{
    ViewData["Title"] = "Đơn hàng đã được gửi";
}


<div class="d-flex flex-column justify-content-center align-items-center" style="height: 70vh; text-align: center;">
    <h2 class="text-success mb-4">🎉 Cảm ơn bạn đã đặt hàng!</h2>

    <p class="lead">Vui lòng kiểm tra email để xác nhận đơn hàng.</p>

    <a href="@(Url.Action("Index", "Home"))" class="btn btn-primary mt-3 px-4 py-2">
        Quay về trang chủ
    </a>
</div>
