/*.client_review {
    max-width: 1200px; // hoặc giá trị phù hợp với thiết kế
    margin: 0 auto; // căn giữa khối theo chiều ngang
    padding: 80px 15px;
    text-align: center;
    background-color: #B08EAD;
    position: relative;

    @media #{$tab} {
        padding: 70px 15px;
    }

    @media #{$medium_device} {
        padding: 60px 15px;
    }

    img {
        width: 50%;
        border-radius: 40%;
    }

    p {
        font-size: 20px;
        line-height: 1.2;
        color: $white;

        @media #{$tab} {
            font-size: 18px;
        }

        @media #{$medium_device} {
            font-size: 17px;
        }
    }

    h5 {
        font-size: 16px;
        margin-top: 20px;
        color: $white;
        margin-bottom: 0;
    }

    .client_img {
        max-width: 80px;
        margin: 0 auto;
        margin-bottom: 35px;
        position: relative;

        &:after {
            position: absolute;
            content: "";
            right: -8px;
            bottom: -10px;
            content: '\f100';
            font-family: 'Flaticon';
            height: 50px;
            width: 50px;
            background-color: #E4D3DF;
            font-size: 14px;
            border-radius: 50%;
            line-height: 50px;
            color: $white;
        }
    }

    .owl-nav {
        display: flex;
        justify-content: center;
        gap: 20px; // khoảng cách giữa 2 nút
        margin-top: 30px;

        button.owl-prev,
        button.owl-next {
            position: static; // bỏ định vị tuyệt đối
            width: 40px;
            height: 40px;
            font-size: 140px;
            line-height: 40px;
            border-radius: 50%;
            border: 1px solid $text-color;
            color: $text-color;
            @include transform_time(.5s);

            &:hover {
                background-color: $text-color;
                color: $white;
            }
        }
    }
}
*/